/*FONTS*/
@import url('https://fonts.cdnfonts.com/css/bauhaus-93');
@font-face {
 font-family: "Open Sans";
 src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
h5,h1{
    font-family: Garamond;
}
h2, h3{
    /*font-family: 'Seymour One', sans-serif;*/
    font-family: 'Bauhaus 93', sans-serif;
    text-shadow:5px 7px rgba(233, 177, 41, 0.502),-4px -5px rgba(255, 255, 255, 0.5);  
    text-transform:uppercase;
    color:rgba(0, 0, 0, 0.9);
    /*font-size:6em;*/ 
}
h4{
    font-family: 'Bauhaus 93', sans-serif;
     text-transform:uppercase;
    color:rgba(255, 255, 255, 0.9);
    text-shadow:5px 7px rgba(0, 0, 0, 0.502);
}
p{
    font-family: "Big Caslon";
}

/*HEADER*/
header{
   padding-left: 100px; 
    padding-right: 100px;
}
a#menu.nav-link{
    font-family:Big caslon;
    font-size:1.2em;
    color: #4f0a0a !important;
}
a#menu.nav-link:hover 
{ color: #e9b129 !important;}

/*barre d'icônes*/
.col-1#icones{
    margin-top:150px;
    display:flex;
    flex-direction: row;
}
a#menu-icones.nav-link{
    width:43px;
    height: 43px;
}
a#menu-icones.nav-link{
    color: #4f0a0a !important; 
}
a#menu-icones.nav-link:hover 
{ color: #e9b129 !important; }
li.icone.nav-item{
 margin-bottom:30px;  
}
b.btn-primary,.btn-primary{
    background-color:#4f0a0a !important;
}
b.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #e9b129 !important;
}
button.btn .btn-outline-primary me-2
a href{
    color:indianred;
}
.parent{
    position:relative;
}
.child{
    position:absolute;
    bottom:0;
}
a.nav-link{
    color:rgba(0, 0, 0, 0.9);
    font-family: 'Bauhaus 93', sans-serif;
    font-size:1.5em;
}
.col-md-6 col-lg-offset-2 text-xs-center,#summer{
    padding-top:110px;
    padding-bottom:100px;
    padding-right:100px;
    text-align:right;
}
ul.nav.d-flex.align-items-center{
       flex-direction: column; 
    }

/*HERO IMAGE*/
.col-10.col-sm-8.col-lg-6{
   z-index: 3; 
   float: left;
}
#fond{
    display:block;
    width:1000px;
    height: 570px;
    float:left;
 position: absolute;
  background-color:rgba(79,10,10,0.6);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-height: none;
    z-index:3;
}
p.mbr-section-lead.lead{
        color:#ffffff;
    font-family:'Poppins';
    font-style:normal;
    font-size:1.2em;
    }
.row.flex-lg-row.align-items-center.g-5.py-5{
    
}
img.d-block.mx-lg-auto.img-fluid{
    margin-top:-30px;
}
#summer.col-lg-6{
    z-index: 3;
}
.verticaltext_content{
    -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     position: absolute;
     text-transform: uppercase;
     font-size: 20px;
     
     /*font-weight: bold;*/ 
    font-family:Big Caslon;
    word-spacing:12px;
}
p#salsa.verticaltext_content{
top:450px;
 left:455px;  
 color:rgba(0, 0, 0, 0.9);
}
p#tango.verticaltext_content{
    top:450px;
    left:420px;
    color:rgba(255,255,255,0.9);
}
button#consulter.btn.btn-outline-light:hover{
    background-color:rgba(233,177,41,0.5);
}
svg #avion{
    width: 50%;
}
button#bouton-offre.btn.bd-primary{ 
    /*font-family: Big Caslon;*/
    font-size:1em;
}
button#bouton-offre.btn.bd-primary:hover{
     background-color: rgba(79,10,10,0.8);
}
h1#meettheteam{
    text-transform:uppercase;
    font-family: 'Bauhaus 93', sans-serif;
}
a.btn#facebook{
    max-width: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/*ECRAN 2*/
#ecran2.container.text-center {
    padding-top:3rem;
    padding-bottom:3rem;
}
#ecran2.container.text-center{
    padding:30px 40px 30px 40px;
}
#carre.col{
    margin-bottom: 20%;
}
/*TEAM*/
#titre-team{
    padding-bottom: 50px;
}
.card.text-center.bg-light {
max-width: 35vh;
}
p#team.card-text, h5.card-title{
    color:whitesmoke;
}
.ovl{
    opacity:0;
    transition: 0.80s;
}
.ovl:hover{
    opacity:1;
    background-color:rgba(79,10,10,0.6); 
}

/*FIN TEAM*/

#bouton-offre.btn.bd-primary{
   position:absolute;
    margin-left: -70px;
    margin-top:-20px;
    background-color: rgb(233,177,41);
    border-radius:50px;
    box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(0,0,0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
}
#offres.card .card-cover .h-100 .overflow-hidden .text-white{
    margin-bottom: 70px;
}
.b-example-divider{
    height:4rem;
    background-color: rgba(O,0,0,0.1);
    border:solid rgba(0,0,0,.15);
    border-width:1px 0 ;
    box-shadow:inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15) ;
}
.d-flex.flex-column.text-light.text-shadow-1{
    padding-top:20px;
     padding-bottom:20px;
}

/*FORFAITS*/
.col-sm-4{
    padding-right: 5px;
    padding-top:5px;
}
.card{
    min-height: 30vh;
    display: flex;
    align-items: center;
    padding:0;
}
h1#forfaits{
    font-family: 'Bauhaus 93', sans-serif;
}
h5.card-subtitle{
    font-size: 18px;
}
#bande-blanche{
margin-top:70px;
background-color:rgba(255,255,255,0.7);
width: 100%;
}
#bande-autre-style{
margin-top:70px;
background-color:rgba(255,255,255,0.7);
width: 100%;
}
/*FORMULAIRE*/
fieldset{
	width:500px;
	margin:20px auto;
	margin-bottom:10px;
    display:block;
    background-color:#2b0000;
    background-image: ;
    width:100%;
}
/*---NOM-PRENOMS...les mettre dans des blocs aide à les disposer-----*/
label{
	width:150px;
	margin-right:10px;
	text-align:right;
	display:block;
	margin-bottom:5px;
	float:left;
}
/*les webkits sont obsolètes!*/
input{
	width:150px;
	margin-left:10px;
	text-align:right;
	display:block;
	margin-bottom:5px;
	/*--ombres*/
	border:#ddd solid 2px;
	border-style: inset;
	/* box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); */
	/* box-shadow:0 0 0 16px #fff inset, */
               /* 0 0 0 7px #DAD4D4 inset; */
}
/*ANIMATION*/
#commercial.container{

    }
iframe#banniere.embed-responsive-item{
    height: 382px;
}

/* --------FOOTER--------------------- */
footer{
	background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
     background: #4f0a0a;
	 margin-top:100px;
}
footer p{
}
footer h6{
	font-size:18pt;
	/* text-decoration: underline #ffffff; */
}
img #partenaires, p #partenaires{
	float:left;
}
footer i{
	float:left;
	padding:10px;
}
a#footer.nav-link{
    font-family:Big caslon;
    font-size:1.2em;
    color: #ffffff !important;
}
a#footer.nav-link:hover 
{ color: #e9b129 !important;}

/*CONCEPTION*/
.card.text-center{
     background-color: rgba(255,255,255,0.6);
}
#brand-school.container-fluid{
    background-image: url(img/facade.jpg);
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    
}
/*RESPONSIVE*/

@media only screen and (max-width :1200px){
 
 p.verticaltext_content{
    -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
    }
p#salsa.verticaltext_content{
    top:55px;
    }
p#tango.verticaltext_content{
    top:90px;
    }
}

@media only screen and (max-width : 992px){
    .child{
        position:inherit;
    } 
#fond{
position: absolute;
background: #650000;
height: 328px;
width: 338px;
border-radius: 200px;
margin-left: -130px;
}
#prof.col-4.d-flex.justify-content-center{
     margin-right:;   
    }
button#consulter.btn.btn-outline-light{
    background-color:rgba(233,177,41,0.7);
}
.img-fluid {
    max-width: 140%!important;
    overflow:hidden;
    }
.col-md-6 col-lg-offset-2 text-xs-center, #summer {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-right: 20px;
    text-align:justify;
}
    p.mbr-section-lead.lead{
        color:darkred;
    }
p.verticaltext_content{ 
    font-size:18px;
    position:inherit;
    margin-left: 220px
     }
p#salsa.verticaltext_content{
    top:635px;
    margin-bottom: -40px;
}
p#tango.verticaltext_content{
    margin-bottom: -50px;
    top:670px;
 }
.encart_blanc{
        width:100%;
    }
.card.text-center.bg-dark.text-white {    
    min-height: inherit;
    min-width: 20vh;
    }
#commercial.container{
        display: none;
    }
}

@media only screen and (max-width : 576px){
.col-1#icones{
    max-width:50%;
}
    .iframe #banniere{
        height:200;
        width:50;
    }
p.verticaltext_content{ 
    font-size:16px;
    }
#salsa.verticaltext_content{
    float:right;
    margin: 0px 0px 0px 0px;
    font-size:smaller; 
}
p#tango.verticaltext_content{
   float:left;
    margin: 0px 0px 0px 0px;
    font-size:smaller; 
}
#summer.col-md-6{
padding-top:50px; 
text-align:center;
font-size: smaller;
}
h2.mbr-section-title display-3{
    font-size: smaller;
    }
#icones.col-1.align-item{
    display:none;
    }
#prof.col-4{
       padding:inherit;
    align-items: center;
       /* box-sizing:inherit;*/
    }
    
header{
    padding-left:auto;
    padding-right: none;
    }
    a#menu.nav-link{
    font-size:0.9em;
    }
     h2.mbr-section-title.display-3{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    nav#menu-principal.navbar-container{
        display:none;
    }
    #icones.col-1{
        display:;
    }
    ul.nav.d-flex.align-items-center{
       flex-direction: row; 
    }
}

/*SMARTPHONE*/
@media only screen and (max-width : 480px){
    img.w-100.img-fluid{
        width:inherit;
    }
    h2.mbr-section-title.display-3{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    nav#menu-principal.navbar-container{
        display:none;
    }

#fond{
position: absolute;
background: #650000;
height: 328px;
width: 338px;
border-radius: 200px;
margin-left: -130px;

}
.img-fluid {
    max-width: 140%!important;
    }
.col-md-6 col-lg-offset-2 text-xs-center, #summer {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-right: 20px;
    text-align:justify;
}
    p.mbr-section-lead.lead{
        color:darkred;
    }
}
/* SMARTPHONE*/

/*.col-xs-12 #meettheteam.container-link article>div .section-content{
    top:60%;
    position:absolute;
    opacity:.9;
    transition-property:top;
    transition-duration: .5s;
    transition-delay:0s;
    background-color:#ffffff;
    padding:15px;
    height:400px;
}*/





    
    